
*{
    margin: 0;
    padding: 0;
}

.login-form_container {
    width: 100%;
    min-height: 80vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.form_container{
    border-radius: 8px;
    padding: 40px;
    background-color: rgb(232, 240, 237);
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50%;
}

.login_form{
    width: 80%;
    
}


.add_main_container{
    min-height: 90vh;
}
.add_question_container{
    border-radius: 8px;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70%;
    max-height: 100%;
    padding: 15px;
    flex-direction: column;
}

.add_question_form{
    border-radius: 6px;
    width: 85%;
    margin: 8px 5px;
    padding: 1px;
}

.correctAns{
    background-color: green;
    color: white;
}

.inCorrectAns{
    background-color: red;
    color: white;

}

/* .countDownTimer{
    height: 10px;
} */

.scoreDiv{
    min-height: 90vh;
    min-width: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.score_cardAction{
    display: flex;
    align-items: center;
    justify-content: center;
 
}

/* .table_row_linner{
    width: 100vw;               
} */

.progress_table_row{
    width:100%
}

.table_admin_container{
    font-size: 23px;
    font-weight: 600;
}


.main_about_us_container{
    background-color: rgb(232 241 232);
    height: 100%;
    width: 100%;    
    padding: 30px 0px;
}

.ritesh_about_us_container{
    margin-top: 80px;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    padding:0;
    justify-content: center;
}

.second_div_con{
    display: flex;
    flex-direction: column;
}
.second_about_us_container{
    margin-top: 80px;
    width: 100%;
    display: flex;
    padding:0;
    justify-content: center;
}



.ritesh_card_main{
 
}

.ritesh_card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.css-9vnvu0-MuiCardContent-root {
    padding: 0;
}