

.login-form_container {
    width: 100%;
    min-height: 80vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.form_container{
    border-radius: 8px;
    padding: 40px;
    background-color: rgb(232, 240, 237);
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50%;
}

.login_form{
    width: 80%;
    
}



.add_question_container{
    border-radius: 8px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80%;
    padding: 15px;
    flex-direction: column;
    background-color: rgb(136, 250, 136);
}

.add_question_form{
    background-color: white;
    width: 85%;
    margin: 8px 5px;
    padding: 4px;
}