@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    font-family: 'Roboto', sans-serif;

}

.nav-bar_container{
    background-color:rgb(48 109 68);
    padding: 17px 5px;
        display: flex;
    align-items: center;
}

.nav-bar_container ul{
    display: flex;
    list-style: none;
}
.nav-bar_container ul li .link{
    text-decoration: none;
    color: rgb(255, 219, 219);
    margin: 0px 20px;
}
.login{
    position: absolute;
    right: 0;
    padding: 2px 20px;
}

.admin_icon{
    display: flex;
    align-items: center;
    justify-content: center;
}