@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    font-family: 'Roboto', sans-serif;

}

.nav-bar_container{
    background-color:rgb(48 109 68);
    padding: 17px 5px;
        display: flex;
    align-items: center;
}

.nav-bar_container ul{
    display: flex;
    list-style: none;
}
.nav-bar_container ul li .link{
    text-decoration: none;
    color: rgb(255, 219, 219);
    margin: 0px 20px;
}
/* .login{
    position: absolute;
    right: 0;
    padding: 2px 20px;
} */
.right_nav_item{
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
/* 
.admin_icon{
    display: flex;
    align-items: center;
    justify-content: center;
} */


.question_pannel__container{
  background-color: white;
  width: 100%;
}

.text_result__container{
  background-color: white;
  width: 100%;
}

/* .options__container{
  display: grid;
  grid-template-columns: auto auto;
} */
/* CSS */
.option {
    text-align: center;
  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  box-sizing: border-box;
  color: #292f33;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.option:focus {
  color: #171e29;
}

.option:hover {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

.option:active {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

@media (min-width: 768px) {
  .option {
    min-width: 170px;
  }
}



/* @media (max-width:450px){

.options__container{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 0;
  align-items: center;
}
.option{
  margin: 10px;
  max-width: 90vw;
  min-width: 88vw;
  min-height: 4vh;
  height: 0;
  background-color: #000;

}
} */